{% trans_default_domain 'FOSUserBundle' %}

{#
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
<div>
    <input type="submit" value="{{ 'registration.submit'|trans }}" />
</div>
{{ form_end(form) }}
#}

<script>
    document.getElementById("register_id").style["color"] = "#47A1DE";
    document.title = "Spendenverbindet | Registrieren";
</script>


<form action="{{ path('fos_user_registration_register') }}" class="form-searchbar" style="border-width: 0" enctype="multipart/form-data" method="POST">

    <div class="row text-center">
        <h2 class="form-signin-heading">Registrieren</h2>
    </div>

    <div class="form-group" id="fos_user_registration_form">


        {{ form_widget(form.firstname, { 'attr': {'pattern':'.{3,20}', 'title' : 'Vorname muss mindestens 3 Zeichen haben, maximal 20', 'style': 'padding:5px;width:250px;border:1px solid black;', 'placeholder': 'Vorname'|trans } }) }}
        <small style="color:#47A1DE;font-size:13px;margin-bottom: 15px">Vorname</small>
        {{ form_errors(form.firstname) }}

        {{ form_widget(form.lastname, { 'attr': {'pattern':'.{3,20}', 'title' : 'Nachname muss mindestens 3 Zeichen haben, maximal 20', 'style': 'margin-top:10px;padding:5px;width:250px;border:1px solid black;', 'placeholder': 'Nachname'|trans } }) }}
        <small style="color:#47A1DE;font-size:13px;margin-bottom: 15px">Nachname</small>
        {{ form_errors(form.lastname) }}

        {{ form_widget(form.email, { 'attr': {'pattern':'[^@]+@[^@]+\.[a-zA-Z]{2,6}', 'title' : 'Muss eine valide Email-Adresse sein', 'style': 'margin-top:10px;padding:5px;width:250px;border:1px solid black;', 'placeholder': 'Email'|trans } }) }}
        <small style="color:#47A1DE;font-size:13px;margin-bottom: 15px">Email</small>

        {% if form_errors(form.email) %}
            <br>
            <span style="color:red">Email bereits vergeben</span>
            <br>
        {% endif %}


        {{ form_widget(form.username, { 'attr': {'pattern':'.{3,20}', 'title' : 'Benutzername muss mindestens 3 Zeichen haben, maximal 20', 'style': 'margin-top:10px;padding:5px;width:250px;border:1px solid black;', 'placeholder': 'Benutzername'|trans } }) }}
        <small style="color:#47A1DE;font-size:13px;margin-bottom: 15px">Benutzername</small>

        {% if form_errors(form.username) %}
            <br>
            <span style="color:red">Benutzername bereits vergeben</span>
            <br>
        {% endif %}


        {{ form_widget(form.plainPassword.first, { 'attr': {'pattern':'.{5,}', 'title' : 'Passwort muss mindestens 5 Zeichen haben', 'style': 'margin-top:10px;padding:5px;width:250px;border:1px solid black;', 'placeholder': 'Passwort'|trans } }) }}
        <small style="color:#47A1DE;font-size:13px;margin-bottom: 15px">Passwort</small>
        {{ form_errors(form.plainPassword.first) }}

        {{ form_widget(form.plainPassword.second, { 'attr': {'oninput': 'check(this)' ,'pattern':'.{5,}', 'title' : 'Passwort bestätigen muss mindestens 5 Zeichen haben', 'style': 'margin-top:10px;padding:5px;width:250px;border:1px solid black;', 'placeholder': 'Passwort bestätigen'|trans } }) }}
        <small style="color:#47A1DE;font-size:13px;margin-bottom: 15px">Passwort bestätigen</small>
        {{ form_errors(form.plainPassword.second) }}

        <script>
            function check(input) {
                if (input.value != document.getElementById('fos_user_registration_form_plainPassword_first').value) {
                    input.setCustomValidity('Passwort muss übereinstimmen');
                } else {
                    input.setCustomValidity('');
                }
            }
        </script>


        {{ form_widget(form.age, { 'attr': {'style': 'margin-top:10px;padding:5px;width:250px;border:1px solid black;'} }) }}
        <small style="color:#47A1DE;font-size:13px;margin-bottom: 15px">Geburtsdatum</small>
        {{ form_errors(form.age) }}

        <style>
            #fos_user_registration_form_isDonator_0 {
                margin-right: 5px;
            }

            #fos_user_registration_form_isDonator_1 {
                margin-left: 10px;
                margin-right: 5px;
            }
        </style>
        <small style="display:block;color:#47A1DE;font-size:18px;margin-top: 20px;margin-bottom: 10px;">Ich bin:</small>
        {{ form_widget(form.isDonator, { 'attr': {'': ''} }) }}
        {{ form_errors(form.isDonator) }}

        <div id="switch" style="display:none">
            {{ form_widget(form.town, { 'attr': {'pattern':'.{3,20}', 'title' : 'Stadt muss mindestens 3 Zeichen haben, maximal 20', 'style': 'margin-top:20px;padding:5px;width:250px;border:1px solid black;', 'placeholder': 'Stadt'|trans } }) }}
            <small style="color:#47A1DE;font-size:13px;margin-bottom: 15px">Stadt</small>
            {{ form_errors(form.town) }}

            {{ form_widget(form.zipcode, { 'attr': {'pattern':'[0-9]{4}', 'title' : 'Muss eine valide Postleitzahl von Österreich sein', 'style': 'margin-top:10px;padding:5px;width:250px;border:1px solid black;', 'placeholder': 'Postleitzahl'|trans } }) }}
            <small style="color:#47A1DE;font-size:13px;margin-bottom: 15px">Postleitzahl</small>
            {{ form_errors(form.zipcode) }}

            {{ form_widget(form.street, { 'attr': {'pattern':'.{3,20}', 'title' : 'Straßenname muss mindestens 3 Zeichen haben, maximal 20', 'style': 'margin-top:10px;padding:5px;width:250px;border:1px solid black;', 'placeholder': 'Straße'|trans } }) }}
            <small style="color:#47A1DE;font-size:13px;margin-bottom: 15px">Straße</small>
            {{ form_errors(form.street) }}

            {{ form_widget(form.housenumberDoornumber, { 'attr': {'pattern':'.{1,30}', 'title' : 'Dieses Feld muss mindestens 1 Zeichen haben, maximal 30', 'style': 'margin-top:10px;padding:5px;width:250px;border:1px solid black;', 'placeholder': 'Hausnr. Stiege / Tür'|trans } }) }}
            <small style="color:#47A1DE;font-size:13px;margin-bottom: 15px">Hausnr. Stiege / Tür</small>
            {{ form_errors(form.housenumberDoornumber) }}

            <div ng-click="clickUpload3()" style="margin-top:10px;width:100%;text-align: center;height:50px;" class="folgen-detail-btn clickable">
                <span style="color:white;vertical-align: middle;line-height: 50px;"><i style="padding-right:5px;" class="fa fa-upload fa-1x" aria-hidden="true"></i><span id="uploadTxtId">Pdf hochladen</span></span>
            </div>

            {{ form_widget(form.fileUpload, { 'attr': { 'style': 'display:none;margin-top:10px;padding:5px;width:250px;border:1px solid black;', 'placeholder': ''|trans } }) }}
            <small style="color:#47A1DE;font-size:13px;margin-bottom: 15px">Bedürftigkeitsnachweis als PDF</small>
            {{ form_errors(form.fileUpload) }}
            <br>
            <span id="uploadErrorMsg" style="display:none;color:red;font-size:15px;">Bitte PDF hochladen</span>


        </div>

        <script>
            window.onload = function () {
                document.getElementById('fos_user_registration_form_fileUpload').removeAttribute("required");


                document.getElementById("fos_user_registration_form_isDonator_0").addEventListener("click", function(){
                    document.getElementById("switch").style.display = "none";

                    document.getElementById("fos_user_registration_form_town").removeAttribute("required");
                    document.getElementById("fos_user_registration_form_zipcode").removeAttribute("required");
                    document.getElementById("fos_user_registration_form_street").removeAttribute("required");
                    document.getElementById("fos_user_registration_form_housenumberDoornumber").removeAttribute("required");
                    document.getElementById("fos_user_registration_form_fileUpload").removeAttribute("required");
                });

                document.getElementById("fos_user_registration_form_isDonator_1").addEventListener("click", function(){
                    document.getElementById("switch").style.display = "block";

                    document.getElementById("fos_user_registration_form_town").setAttribute("required","required");
                    document.getElementById("fos_user_registration_form_zipcode").setAttribute("required","required");
                    document.getElementById("fos_user_registration_form_street").setAttribute("required","required");
                    document.getElementById("fos_user_registration_form_housenumberDoornumber").setAttribute("required","required");
                    document.getElementById("fos_user_registration_form_fileUpload").setAttribute("required","required");

                });

            }

            function pdfInputBlank(){

                var fullPath = document.getElementById('fos_user_registration_form_fileUpload').value;

                if(fullPath){
                    document.getElementById('uploadErrorMsg').style.display = "none";
                }else{
                    document.getElementById('uploadErrorMsg').innerHTML = "Bitte PDF hochladen";
                    document.getElementById('uploadErrorMsg').style.display = "block";
                }
            }


            document.getElementById("fos_user_registration_form_fileUpload").onchange = function () {

                var fileName = $(this).val().split('/').pop().split('\\').pop();

                document.getElementById('uploadTxtId').innerHTML = fileName;

                if(fileName.match(/.(pdf|PDF)$/i)){
                    document.getElementById('uploadErrorMsg').style.display = "none";
                    document.getElementById('uploadErrorMsg').innerHTML = "Bitte PDF hochladen";
                    document.getElementById('saveButtonId').disabled = false;
                }else{
                    document.getElementById('uploadErrorMsg').style.display = "block";
                    document.getElementById('uploadErrorMsg').innerHTML = "Nur PDF möglich";
                    document.getElementById('saveButtonId').disabled = true;
                }
            };


        </script>



        {{ form_rest(form) }}
    </div>

    <div class="row text-center">
        <input id="saveButtonId" onclick="pdfInputBlank()" style="margin-top:40px" class="folgen-detail-btn" type="submit" value="{{ 'Registrieren'|trans }}" />
    </div>

</form>
