    <!-- Include angular.min.js -->
    <script src="{{ asset('bundles/htlspendenportal/bower_components/angular/angular.min.js') }}"></script>

    <!-- Include own angular-controller -->
    <script src="{{ asset('bundles/htlspendenportal/js/controller.js') }}"></script>

    <!-- From here on jquery can be used -->
    <script src="{{ asset('bundles/htlspendenportal/bower_components/jquery/dist/jquery.min.js') }}"></script>

    <!-- Include bootstrap.min.js, bootstrap.min.js requires jquery -->
    <script src="{{ asset('bundles/htlspendenportal/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

    <!-- Include uikit.min.js, uikit.min.js requires jquery -->
    <script src="{{ asset('bundles/htlspendenportal/bower_components/uikit/js/uikit.min.js') }}"></script>

    <!-- Include slideshow.js, slideshow.js requires uikit.min.js -->
    <script src="{{ asset('bundles/htlspendenportal/bower_components/uikit/js/components/slideshow.js') }}"></script>

    </body>
</html>