
    <footer>
        <div class="container">
            <div class="row sv-links-wrapper">
                <div class="col-xs-0 col-md-1"></div>
                <div class="col-xs-12 col-md-10" style="text-align: center">
                    <div class="sv-links-wrapper-screen">
                        <span class="sv-links-screen"><a href="#">Impressum</a></span>
                        <span class="sv-links-screen"><a href="#">FAQ</a></span>
                        <span class="sv-links-screen"><a href="#">+43 6991020304</a></span>
                        <span class="sv-links-screen"><a href="#">contact@spendenverbindet.at</a></span>
                    </div>

                    <div class="sv-links-wrapper-mobile">
                        <div class="col-sm-12 col-md-3 sv-links-mobile"><a href="#">Impressum</a></div>
                        <div class="col-sm-12 col-md-3 sv-links-mobile"><a href="#">FAQ</a></div>
                        <div class="col-sm-12 col-md-3 sv-links-mobile"><a href="#">+43 6991020304</a></div>
                        <div class="col-sm-12 col-md-3 sv-links-mobile"><a href="#">contact@spendenverbindet.at</a></div>
                    </div>
                </div>
                <div class="col-xs-0 col-md-1"></div>
            </div>
            <div class="row sv-icon-wrapper">
                <a href="#"><img src="{{ asset('bundles/htlspendenportal/img/icon_f.png') }}" style="margin-right:20px;" width="40" alt="facebook-icon"></a>
                <a href="#"><img src="{{ asset('bundles/htlspendenportal/img/icon_i.png') }}" style="margin-left:20px;" width="40" alt="instagram-icon"></a>
            </div>
            <hr align="center" >
            <div class="row sv-copyright-wrapper">
                Copyright &copy; 2017
            </div>

        </div>
    </footer>

    <!-- Include fonts -->
    <link href="https://fonts.googleapis.com/css?family=News+Cycle:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Heebo:800" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Include angular.min.js -->
    <script src="{{ asset('bundles/htlspendenportal/bower_components/angular/angular.min.js') }}"></script>

    <!-- Include own angular-controller -->
    <script src="{{ asset('bundles/htlspendenportal/js/controller.js') }}"></script>

    <!-- From here on jquery can be used -->
    <script src="{{ asset('bundles/htlspendenportal/bower_components/jquery/dist/jquery.min.js') }}"></script>

    <!-- Include bootstrap.min.js, bootstrap.min.js requires jquery -->
    <script src="{{ asset('bundles/htlspendenportal/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>

    <!-- Include uikit.min.js, uikit.min.js requires jquery -->
    <script src="{{ asset('bundles/htlspendenportal/bower_components/uikit/js/uikit.min.js') }}"></script>

    <!-- Include slideshow.js, slideshow.js requires uikit.min.js -->
    <script src="{{ asset('bundles/htlspendenportal/bower_components/uikit/js/components/slideshow.js') }}"></script>

    <!-- Include slideset.js, slideset.js requires uikit.min.js -->
    <script src="{{ asset('bundles/htlspendenportal/bower_components/uikit/js/components/slideset.js') }}"></script>

    </body>
</html>